.home_logo {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 100px;
    line-height: 15px;
    color: #C5CAE9;
    margin-left: 1.2369791666666667vw;
}

.home_section {
    margin-left:  5.338541666666667vw;
}

.home_input {
    color: white;
}